.player-field {
	background-color: #aaa;
	min-width: 300px;
	min-height: 200px; 
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

.computer-profile, .player-profile, .winner-announcer {
	background-color: #eee;
	min-width: 150px;
	min-height: 200px; 
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
}

.text-align-center {
	margin: auto;
}
/*.winner-announcer {
	min-height: 100px;
}*/

.next-round {
	height: 100px;
	background-color: #eee;
	min-width: 175px;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
}

img	{
	border-radius: 50%;
	max-height: 150px;
	min-height: 125px;
	max-width: 150px; 
	min-width: 125px;
}

div .h1, .h2, .h3 {
	margin: auto;
}